.card {
  display: grid;
  place-items: center;
  margin-bottom: 80px;
  &__title {
    max-width: 598px;
    font-size: 72px;
    font-weight: 300;
    line-height: 83px;
    text-align: center;
    color: #f2f4f7;

    @media (max-width: 758px) {
      max-width: 85%;
    }
    @media (max-width: 375px) {
      margin-bottom: 20px;
      font-size: 52px;
    }
  }
  &__description {
    max-width: 570px;
    margin-bottom: 80px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #f2f4f7;
    @media (max-width: 758px) {
      max-width: 85%;
    }
    @media (max-width: 375px) {
      margin-bottom: 35px;
      font-size: 12px;
    }
  }
  &__btn {
    padding: 15px 90px;
    margin: 0 auto;
    border: 2px solid transparent;
    border-image-source: linear-gradient(135deg, #fc3f5f, #7d61ff);
    border-image-slice: 1;
    font-size: 18px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(135deg, #fc3f5f, #7d61ff);
    cursor: pointer;
  }
}
