.slider {
  display: grid;
  place-items: center;
  &__dots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 0px 0px 245px 35px;

    @media (max-width: 768px) {
      margin-bottom: 80px;
    }

    &-dot {
      border: 3px solid rgba(196, 196, 196, 0.16);
      width: 16px;
      height: 16px;
      border-radius: 100%;
      margin-right: 35px;

      @media (max-width: 768px) {
        border: 2px solid rgba(196, 196, 196, 0.16);
      }
    }
    .dot__active {
      border: 3px solid #fff;
      @media (max-width: 768px) {
        border: 2px solid #fff;
      }
    }
  }
}
